<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card text-center">
            <div class="card-header">
                <h3>Thank you for registering</h3>
            </div>
            <div class="card-body text-white">
                <p>An admin will be in touch shortly when your account has been approved.</p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a href="signin" class="links">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>