<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>New Request</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 text-center mt-3">
            <div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="requestingbranch">Requesting Branch</label>
                            <select class="custom-select">
                                <option selected>Select</option>
                                <option value="1">Albany</option>
                                <option value="2">Bunbury</option>
                                <option value="3">Forrestfield</option>
                                <option value="4">Geraldton</option>
                                <option value="5">Guildford</option>
                                <option value="6">Port Hedland</option>
                                <option value="7">Spearwood</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="requiringbranch">Requiring Branch</label>
                            <select class="custom-select">
                                <option selected>Select</option>
                                <option value="1">Albany</option>
                                <option value="2">Bunbury</option>
                                <option value="3">Forrestfield</option>
                                <option value="4">Geraldton</option>
                                <option value="5">Guildford</option>
                                <option value="6">Port Hedland</option>
                                <option value="7">Spearwood</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-6">
                            <!-- Customer -->
                            <div class="input-group input-group-sm mb-3" style="margin-top: 16px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Customer:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <!-- Contact -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Contact:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <!-- Phone -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                            </div>

                        </div>
                        <div class="col-6">
                            <!-- Customer address -->
                            <label for="destinationAddress">Customer Address:</label>
                            <textarea class="form-control" id="destinationAddress" rows="4"
                                style="resize:none; background-color: white;"></textarea>
                        </div>



                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-6">
                            <!-- Customer -->
                            <div class="input-group input-group-sm mb-3" style="margin-top: 16px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">IBT #</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Customer -->
                            <div class="input-group input-group-sm mb-3" style="margin-top: 16px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Proforma #</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <label for="radioFreight">Freight Charged</label>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-6 col-md-6">
                                        <input class="form-check-input" type="radio" name="radioFreight"
                                            id="radioFreightTCWA" value="option1" checked>
                                        <label class="form-check-label" for="radioFreightTCWA">
                                            TCWA
                                        </label>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <input class="form-check-input" type="radio" name="radioFreight"
                                            id="radioFreightCustomer" value="option2">
                                        <label class="form-check-label" for="radioFreightCustomer">
                                            Customer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="freightmethod">Freight Method</label>
                            <select class="custom-select">
                                <option selected>Select</option>
                                <option value="1">Albany</option>
                                <option value="2">Bunbury</option>
                                <option value="3">Forrestfield</option>
                                <option value="4">Geraldton</option>
                                <option value="5">Guildford</option>
                                <option value="6">Port Hedland</option>
                                <option value="7">Spearwood</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">

                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3" style="margin-top: 16px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Freight Account #</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                            </div>


                        </div>


                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3"></div>
                        <div class="col-6">

                            <!-- Notes -->
                            <label for="destinationAddress">Notes:</label>
                            <textarea class="form-control" id="destinationAddress" rows="4"
                                style="resize:none; background-color: white;"></textarea>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-primary btn-lg">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script src="assets/js/freight.js" type="text/javascript"></script>