<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="jumbotron">
                <h1 class="display-3"><strong>Login:</strong></h1>
                <p class="lead">Please enter your login details to access this site.</p>
                <br />
                <form id="signin" name="signin" method="post" action="signin">
                    <div class="form-group row">
                        <input class="text form-control" name="email" type="text"
                            placeholder="Please enter your email address">
                        <br /><br />
                        <input name="password" type="password" class="form-control"
                            placeholder="Please enter your password" />
                        <br />
                        <input class="btn btn-primary mt-4" type="submit" value="Sign In" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>