<div class="container-fluid usersImg">
    <div class="row centered">
        <div class="col-12 text-center mt-3">
            <div class="align-middle pageTitle">Users</div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-12 text-center mt-3">
            <table class="table bg-dark align-middle">
                <tbody id="filterTable" class="bg-dark text-white">
                    <tr>
                        <td class="align-middle">Filter Users by:</td>
                        <td><select id="filterRole" class="custom-select">
                                <option value="all" selected>-- Role --</option>
                                <option value="admin">Admin</option>
                                <option value="parts">Parts</option>
                                <option value="warehouse">Warehouse</option>
                            </select></td>
                        <td><select id="filterStatus" class="custom-select">
                                <option value="all" selected>-- Status --</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <table class="table bg-white align-middle">
        <thead>
            <tr>
                <th scope="col">User name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Last Login</th>
            </tr>
        </thead>
        <tbody id="usersTable" class="bg-white">

        </tbody>
    </table>
</div>

<script src="assets/js/users.js" type="text/javascript"></script>