@import url('https://fonts.googleapis.com/css?family=Numans');
.topbar {
    border-top: 25px solid #f0d443;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pageTitle {
    background-color: rgba(0, 0, 0, .4);
    padding: 30px;
    max-width: 200px;
    color: white;
    margin: auto;
    font-size: 50px;
    font-weight: 500;
}

.welcomeTitle {
    background-color: rgba(0, 0, 0, .4);
    padding: 30px;
    max-width: 500px;
    color: white;
    margin: auto;
    font-size: 50px;
    font-weight: 500;
}

.usersImg {
    height: 600px;
    background-image: url("/assets/img/users.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.dashboardImg {
    height: 600px;
    background-image: url("/assets/img/dashboard.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-bottom: 20px;
}

body {
    background-color: rgba(0, 0, 0, .03);
    padding-top: 160px;
}

.bg-black {
    background-color: black;
}

.bold {
    font-weight: 700;
}

.container {
    height: 100%;
}

.card {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .03);
}

.card-header {
    cursor: pointer;
    background-color: #e9ecef;
}

.status {
    text-align: right;
}

.status-section .btn {
    width: 100%;
    margin-top: 10px;
}

.status-section ul {
    padding-left: 0;
    width: 100%;
    list-style-type: none;
}

.status-section li {
    padding-left: 0;
    list-style-type: none;
}

.notes-section input {
    margin-top: 10px;
}

.notes-section .btn {
    margin-top: 10px;
    margin-left: 5px;
}

.notes-list {
    height: 250px;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.notes-list ul {
    padding-left: 0;
    width: 100%;
    list-style-type: none;
}

.notes-list li {
    padding-left: 0;
    list-style-type: none;
}

.input-group-text {
    min-width:80px;
}

.freight-section .input-group-text {
    min-width:160px;
}

.refresh-notes-btn {
    height: 78px;
}

#destinationAddress {
    height: 93px;
}