@import url('https://fonts.googleapis.com/css?family=Numans');
.container {
    height: 100%;
    align-content: center;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.card-header {
    cursor: pointer;
}

.status-section .btn {
    width: 100%;
    margin-top: 10px;
}

.status-section ul {
    padding-left: 0;
    width: 100%;
    list-style-type: none;
}

.status-section li {
    padding-left: 0;
    list-style-type: none;
}

.notes-section input {
    margin-top: 10px;
}

.notes-section .btn {
    margin-top: 10px;
    margin-left: 5px;
}

textarea {
    background-color: white;
}