@import url('https://fonts.googleapis.com/css?family=Numans');

.topbar {
    border-top: 25px solid #f0d443;
}

body{
    background-color: rgba(0,0,0,.03);
    /* padding-top: 170px; */
 }
 
.bg-black {
    background-color: black;
}

.bold {
    font-weight: 700;
}

.container {
    height: 100%;
}

.input-group-text {
    min-width:80px;
}